<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.jpg" >
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather</p> 
            <form>
                <input placeholder="Location" >
                <button>Search</button>
            </form>
            <p id="message-1" ></p>
            <p id="message-2" ></p>
        </div>
        
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>

</html>


            {{!-- <form action="/js/app.js" method="post">
                <input type="text" name="address" placeholder="Enter an addres"><br/>
                <input type="text" submit="submit" type="button" value="click here to get the weather">

            </form> --}}